@using TableHelper.Models
@using TableHelper.Models.Npc
@using TableHelper.Services
@inject XwnNpcApiService XwnNpcApiService
@inject ToastService ToastService
@inject IJSRuntime Js

<div class="row row-cols-@_numberOfNpcCols">
    @if (!Npcs.Any())
    {
        <p>No NPCs to show</p>
    }
    else
    {
        @foreach (var savedNpc in Npcs)
        {
            var npc = savedNpc.Npc;
            var id = savedNpc.Id;
            <div class="col-@ColWidth mb-2">
                <NpcInfoCard 
                    Id="@id"
                    NpcInfo="npc" 
                    DeleteClicked="@(async () => await HandleDeleteClickedAsync(id))"
                    ShowSave="@false"
                    ShowDelete="@true"></NpcInfoCard>
            </div>
        }
    }
</div>

@code {
    [Parameter] public List<SavedNpc> Npcs { get; set; } = [];
    private DotNetObjectReference<NpcDisplay>? _ref;
    private IJSObjectReference? _module;
    private const string SuccessToastMessage = "Successfully deleted NPC.";
    private const string FailedToastMessage = "Failed to delete NPC.";
    private int _numberOfNpcCols = 2;
    private int ColWidth => 12 / _numberOfNpcCols;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            _ref = DotNetObjectReference.Create(this);
            _module = await Js.InvokeAsync<IJSObjectReference>("import", "./TableHelper.lib.module.js");
            await _module.InvokeVoidAsync("globalRegisterResizeHandler", _ref);
        }
    }
    
    [JSInvokable]
    public void UpdateCols(int width)
    {
        switch (width)
        {
            case > 1500:
                _numberOfNpcCols = 3;
                break;
            case < 1500 and > 1300:
                _numberOfNpcCols = 2;
                break;
            default:
                _numberOfNpcCols = 1;
                break;
        }

        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        _ref?.Dispose();
    }

    private async Task HandleDeleteClickedAsync(int npcId)
    {
        var npcToDelete = Npcs.FirstOrDefault(n => n.Id == npcId);
        if (npcToDelete is not null)
        {
            await DeleteNpc(npcToDelete);
        }
    }

    private async Task DeleteNpc(SavedNpc npcToDeleteIndex)
    {
        var isDeleted = await XwnNpcApiService.DeleteXwnNpc(npcToDeleteIndex.Id);
        if (isDeleted)
        {
            Npcs.Remove(npcToDeleteIndex);
            await ToastService.ShowToast(ShowToastRequest.Success(SuccessToastMessage));
        }
        else
        {
            await ToastService.ShowToast(ShowToastRequest.Failure(FailedToastMessage));
        }
    }
}
