@using TableHelper.Models.Npc
@using TableHelper.Services
@inject TableHelperApiService ApiService

<h3>NpcGenerator</h3>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>NPCs</h4>
            <div class="mb-3 row">
                <label for="numberOfNpcs" class="col-sm-6 col-form-label">Number of NPCs</label>
                <div class="col-sm-6">
                    <input @bind="_numberOfNpcs" type="number" step="1" class="form-control" id="numberOfNpcs">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="preferredNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                <div class="col-sm-6">
                    <select @bind="_preferredNameGender" id="preferredNameGender" class="form-select"
                            aria-label="Preferred Name Style">
                        <option value="0" selected>No Preference</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="preferredNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                <div class="col-sm-6">
                    <select @bind="_preferredNameStyle" id="preferredNameStyle" class="form-select"
                            aria-label="Preferred Name Style">
                        <option value="0">Arabic</option>
                        <option value="1">Chinese</option>
                        <option value="2" selected>English</option>
                        <option value="3">Greek</option>
                        <option value="4">Indian</option>
                        <option value="5">Japanese</option>
                        <option value="6">Latin</option>
                        <option value="7">Nigerian</option>
                        <option value="8">Russian</option>
                        <option value="9">Spanish</option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <button @onclick="GenerateNpcs" class="btn btn-primary mb-3">Generate</button>
            </div>
        </div>
        <div class="col-auto"></div>
    </div>
</div>
<NpcGeneratorDisplay Npcs="@_npcs"></NpcGeneratorDisplay>

@code {
    private int _numberOfNpcs = 1;
    private string _preferredNameGender = "0";
    private string _preferredNameStyle = "2";
    private PreferredNameOrigin PreferredNameOrigin => (PreferredNameOrigin)int.Parse(_preferredNameStyle);
    private NameGender PreferredNameNameGender => (NameGender)int.Parse(_preferredNameGender);
    private List<NpcInfo> _npcs = [];

    private async Task GenerateNpcs()
    {
        _npcs = [];
        _npcs = await ApiService.GetGeneratedNpcs(_numberOfNpcs, PreferredNameNameGender, PreferredNameOrigin);
    }

}