@using TableHelper.Models.Npc
@inject HttpClient Http

<h3>NpcGenerator</h3>
<div class="container">
        <div class="row">
            <div class="col-8">
                <h4>NPCs</h4>
                <div class="mb-3 row">
                    <label for="numberOfNpcs" class="col-sm-6 col-form-label">Number of NPCs</label>
                    <div class="col-sm-6">
                        <input @bind="_numberOfNpcs" type="number" step="1" class="form-control" id="numberOfNpcs">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preferredNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                    <div class="col-sm-6">
                        <select @bind="_preferredNameGender" id="preferredNameGender" class="form-select"
                                aria-label="Preferred Name Style">
                            <option value="0" selected>No Preference</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preferredNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                    <div class="col-sm-6">
                        <select @bind="_preferredNameStyle" id="preferredNameStyle" class="form-select"
                                aria-label="Preferred Name Style">
                            <option value="0">Arabic</option>
                            <option value="1">Chinese</option>
                            <option value="2" selected>English</option>
                            <option value="3">Greek</option>
                            <option value="4">Indian</option>
                            <option value="5">Japanese</option>
                            <option value="6">Latin</option>
                            <option value="7">Nigerian</option>
                            <option value="8">Russian</option>
                            <option value="9">Spanish</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button @onclick="GenerateNpcs" class="btn btn-primary mb-3">Generate</button>
                </div>
            </div>
            <div class="col-auto"></div>
        </div>
    </div>
  
    
    <NpcGeneratorDisplay Npcs="@_npcs"></NpcGeneratorDisplay>

@code {
    private int _numberOfNpcs;
    private string _preferredNameGender = "0";
    private string _preferredNameStyle = "2";
    private PreferredNameStyle PreferredNameStyle => (PreferredNameStyle)int.Parse(_preferredNameStyle);
    private Gender PreferredNameGender => (Gender)int.Parse(_preferredNameGender);
    private Random _rnd = new();
    private NpcGeneratorData? _npcGeneratorData;
    private List<Npc> _npcs = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _npcGeneratorData = await Http.GetFromJsonAsync<NpcGeneratorData>("data/xwn/npcGenerator.json");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    
    private void GenerateNpcs()
    {
        var npcs = new List<Npc>();
        for (var i = 0; i < _numberOfNpcs; i++)
        {
            var nameOptions = GetPreferredNameStyle();
            var npc = GenerateNpc(nameOptions);
            npcs.Add(npc);
        }

        _npcs = npcs;
    }

    private Npc GenerateNpc(NameOption[] nameOptions)
    {
        var preferredNameGender = GetPreferredGender();
        var firstName = GenerateFirstName(nameOptions, preferredNameGender);
        var surname = GenerateSurname(nameOptions);
        var initialManner = GenerateInitialManner();
        var defaultDealOutcome = GenerateDefaultDealOutcome();
        var theirMotivation = GenerateTheirMotivation();
        var theirWant = GenerateTheirWant();
        var theirPower = GenerateTheirPower();
        var theirHook = GenerateTheirHook();
        var theirBackground = GenerateTheirBackground();
        var theirRoleInSociety = GenerateTheirRoleInSociety();
        var theirBiggestProblem = GenerateTheirBiggestProblem();
        var ageDescription = GenerateAgeDescription();
        var theirGreatestDesire = GenerateTheirGreatestDesire();
        var mostObviousCharacterTrait = GenerateMostObviousCharacterTrait();

        return new Npc(
            FirstName: firstName,
            Surname: surname,
            Gender: preferredNameGender == Gender.Female ? "Female" : "Male",
            InitialManner: initialManner,
            DefaultDealOutcome: defaultDealOutcome,
            TheirMotivation: theirMotivation,
            TheirWant: theirWant,
            TheirPower: theirPower,
            TheirHook: theirHook,
            TheirBackground: theirBackground,
            TheirRoleInSociety: theirRoleInSociety,
            TheirBiggestProblem: theirBiggestProblem,
            AgeDescription: ageDescription,
            TheirGreatestDesire: theirGreatestDesire,
            MostObviousCharacterTrait: mostObviousCharacterTrait);
    }

    private string GenerateMostObviousCharacterTrait()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.MostObviousCharacterTrait.Length);
        return _npcGeneratorData.NpcMakeupOptions.MostObviousCharacterTrait[roll];
    }

    private string GenerateTheirGreatestDesire()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirGreatestDesire.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirGreatestDesire[roll];
    }

    private string GenerateAgeDescription()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.Age.Length);
        return _npcGeneratorData.NpcMakeupOptions.Age[roll];
    }

    private string GenerateTheirBiggestProblem()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirBiggestProblem.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirBiggestProblem[roll];
    }

    private string GenerateTheirRoleInSociety()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirRoleInSociety.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirRoleInSociety[roll];
    }

    private string GenerateTheirBackground()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirBackground.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirBackground[roll];
    }

    private string GenerateTheirHook()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirHook.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirHook[roll];
    }

    private string GenerateTheirPower()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirPower.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirPower[roll];
    }

    private string GenerateTheirWant()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirWant.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirWant[roll];
    }

    private string GenerateTheirMotivation()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.TheirMotivation.Length);
        return _npcGeneratorData.NpcMakeupOptions.TheirMotivation[roll];
    }

    private string GenerateDefaultDealOutcome()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.DefaultDealOutcome.Length);
        return _npcGeneratorData.NpcMakeupOptions.DefaultDealOutcome[roll];
    }

    private string GenerateInitialManner()
    {
        var roll = _rnd.Next(0, _npcGeneratorData!.NpcMakeupOptions.InitialManner.Length);
        return _npcGeneratorData.NpcMakeupOptions.InitialManner[roll];
    }

    private string GenerateSurname(NameOption[] nameOption)
    {
        var roll = _rnd.Next(1, 101); // roll from 1 to 100
        return FindNameOptionsEntry(nameOption, roll).Surname;
    }

    private string GenerateFirstName(NameOption[] nameOption, Gender preferredNameGender)
    {
        var roll = _rnd.Next(1, 101); // roll from 1 to 100
        var option = FindNameOptionsEntry(nameOption, roll);

        return preferredNameGender switch
        {
            Gender.Male => option.Male,
            Gender.Female => option.Female,
            _ => throw new ArgumentOutOfRangeException()
        };
    }

    private Gender GetPreferredGender()
    {
        if (PreferredNameGender != Gender.Unknown) return PreferredNameGender;
        var flip = _rnd.Next(0, 100);
        return flip % 2 == 0 ? Gender.Male : Gender.Female;
    }

    private NameOption FindNameOptionsEntry(NameOption[] nameOptions, int roll)
    {
        var left = 0;
        var right = nameOptions.Length - 1;

        while (left <= right)
        {
            var mid = left + (right - left) / 2;
            var option = nameOptions[mid];
            if (option.RangeStart <= roll && option.RangeEnd >= roll)
            {
                return option;
            }

            if (option.RangeEnd < roll)
            {
                left = mid + 1;
            }
            else
            {
                right = mid - 1;
            }
        }

        throw new Exception("I don't know what happened :(");
    }

    /// <summary>
    /// Based on the selected <c>preferredNameStyle</c>, return that lists style
    /// </summary>
    /// <returns></returns>
    /// <exception cref="ArgumentNullException"></exception>
    /// <exception cref="ArgumentOutOfRangeException"></exception>
    private NameOption[] GetPreferredNameStyle()
    {
        if (_npcGeneratorData == null)
        {
            throw new ArgumentNullException(nameof(_npcGeneratorData));
        }

        var nameOptions = _npcGeneratorData.NameOptions;
        return PreferredNameStyle switch
        {
            PreferredNameStyle.Arabic => nameOptions.Arabic,
            PreferredNameStyle.Chinese => nameOptions.Chinese,
            PreferredNameStyle.English => nameOptions.English,
            PreferredNameStyle.Greek => nameOptions.Greek,
            PreferredNameStyle.Indian => nameOptions.Indian,
            PreferredNameStyle.Japanese => nameOptions.Japanese,
            PreferredNameStyle.Latin => nameOptions.Latin,
            PreferredNameStyle.Nigerian => nameOptions.Nigerian,
            PreferredNameStyle.Russian => nameOptions.Russian,
            PreferredNameStyle.Spanish => nameOptions.Spanish,
            _ => nameOptions.Arabic
                .Concat(nameOptions.Chinese)
                .Concat(nameOptions.English)
                .Concat(nameOptions.Greek)
                .Concat(nameOptions.Indian)
                .Concat(nameOptions.Japanese)
                .Concat(nameOptions.Latin)
                .Concat(nameOptions.Nigerian)
                .Concat(nameOptions.Russian)
                .Concat(nameOptions.Spanish)
                .ToArray()
        };
    }
}