@using TableHelper.Models
@using TableHelper.Models.Npc
@using TableHelper.Services
@inject GeneratorApiService GeneratorApiService
@inject XwnNpcApiService XwnNpcApiService
@inject ToastService ToastService

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>NPCs</h4>
            <div class="mb-3 row">
                <label for="numberOfNpcs" class="col-sm-6 col-form-label">Number of NPCs</label>
                <div class="col-sm-6">
                    <input @bind="_numberOfNpcs" type="number" step="1" class="form-control" id="numberOfNpcs">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="preferredNameGender" class="col-sm-6 col-form-label">Gender of Name</label>
                <div class="col-sm-6">
                    <select @bind="_preferredNameGender" id="preferredNameGender" class="form-select"
                            aria-label="Preferred Name Style">
                        <option value="0" selected>No Preference</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="preferredNameStyle" class="col-sm-6 col-form-label">Preferred Name Style</label>
                <div class="col-sm-6">
                    <select @bind="_preferredNameStyle" id="preferredNameStyle" class="form-select"
                            aria-label="Preferred Name Style">
                        <option value="0" selected>No Preference</option>
                        <option value="1">Arabic</option>
                        <option value="2">Chinese</option>
                        <option value="3">English</option>
                        <option value="4">Greek</option>
                        <option value="5">Indian</option>
                        <option value="6">Japanese</option>
                        <option value="7">Latin</option>
                        <option value="8">Nigerian</option>
                        <option value="9">Russian</option>
                        <option value="10">Spanish</option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <button @onclick="GenerateNpcs" class="btn btn-primary mb-3">Generate</button>
            </div>
        </div>
        <div class="col-auto"></div>
    </div>
    <div class="row row-cols-2">
        @if (!_npcs.Any())
        {
            <p>Nothing to display...</p>
        }
        else
        {
            @for (var i = 0; i < _npcs.Count; i++)
            {
                var index = i;
                var npcInfo = _npcs[i];
                <div class="col-6 mb-2">
                    <NpcInfoCard Id="@index" NpcInfo="npcInfo" CardClicked="HandleCardClicked"
                                 SaveClicked="async () => await SaveNpc(index)"
                                 DeleteClicked="async () => await DeleteNpc(index)"
                                 ShowSave="!_savedNpcs.ContainsKey(index)"
                                 ShowDelete="_savedNpcs.ContainsKey(index)"></NpcInfoCard>
                </div>
            }
        }
    </div>
</div>

@code {
    private int _numberOfNpcs = 1;
    private string _preferredNameGender = "0";
    private string _preferredNameStyle = "0";
    private PreferredNameOrigin PreferredNameOrigin => (PreferredNameOrigin)int.Parse(_preferredNameStyle);
    private NameGender PreferredNameNameGender => (NameGender)int.Parse(_preferredNameGender);
    private List<NpcInfo> _npcs = [];
    private Dictionary<int, SavedNpc> _savedNpcs = [];
    private const string SuccessfullyDeletedNpcToastMessage = "Successfully deleted npc";
    private const string FailedToDeleteNpcToastMessage = "Failed to delete npc";
    private const string SuccessfullySavedNpcToastMessage = "Successfully saved npc";
    private const string FailedToSavedNpcToastMessage = "Failed to save npc";

    private async Task GenerateNpcs()
    {
        _npcs = [];
        _savedNpcs = [];
        _npcs = await GeneratorApiService.GetGeneratedNpcs(_numberOfNpcs, PreferredNameNameGender, PreferredNameOrigin);
    }

    private async Task HandleCardClicked()
    {
    }

    private async Task DeleteNpc(int npcToDeleteIndex)
    {
        var npc = _savedNpcs[npcToDeleteIndex];
        var isDeleted = await XwnNpcApiService.DeleteXwnNpc(npc.Id);
        if (isDeleted)
        {
            _savedNpcs.Remove(npcToDeleteIndex);
            await ToastService.ShowToast(ShowToastRequest.Success(SuccessfullyDeletedNpcToastMessage));
        }
        else
        {
            await ToastService.ShowToast(ShowToastRequest.Failure(FailedToDeleteNpcToastMessage));
        }

        _savedNpcs.Remove(npcToDeleteIndex);
    }

    private async Task SaveNpc(int npcToSavesIndex)
    {
        var npc = _npcs[npcToSavesIndex];
        var savedNpc = await XwnNpcApiService.SaveXwnNpc(npc);
        if (savedNpc == null)
        {
            await ToastService.ShowToast(ShowToastRequest.Failure(FailedToSavedNpcToastMessage));
        }
        else
        {
            _savedNpcs.Add(npcToSavesIndex, savedNpc);
            await ToastService.ShowToast(ShowToastRequest.Success(SuccessfullySavedNpcToastMessage));
        }
    }
}