@page "/xwn/Generators"
@using TableHelper.Components.XWN
@using TableHelper.Components.XWN.AdventureSeedGenerator
@using TableHelper.Components.XWN.NpcGenerator
@using TableHelper.Components.XWN.PatronGenerator
@using TableHelper.Components.XWN.ProblemGenerator

<h3>XWN Generators</h3>

<GeneratorAccordion Title="NPC Generator">
  <NpcGenerator/>
</GeneratorAccordion>

<GeneratorAccordion Title="Adventure Seed Generator">
  <AdventureSeedGenerator/>
</GeneratorAccordion>

<GeneratorAccordion Title="Problem Generator">
  <ProblemGenerator/>
</GeneratorAccordion>

<GeneratorAccordion Title="Patron Generator">
  <PatronGenerator/>
</GeneratorAccordion>

@code {

}