@page "/xwn/Generators"
@using TableHelper.Components.XWN
@using TableHelper.Components.XWN.AdventureSeedGenerator
@using TableHelper.Components.XWN.NpcGenerator
@using TableHelper.Components.XWN.PatronGenerator
@using TableHelper.Components.XWN.ProblemGenerator

<h3>XWN Generators</h3>

<AccordionWrapper Title="NPC Generator">
  <NpcGenerator/>
</AccordionWrapper>

<AccordionWrapper Title="Adventure Seed Generator">
  <AdventureSeedGenerator/>
</AccordionWrapper>

<AccordionWrapper Title="Problem Generator">
  <ProblemGenerator/>
</AccordionWrapper>

<AccordionWrapper Title="Patron Generator">
  <PatronGenerator/>
</AccordionWrapper>

@code {

}