@page "/XWN"
<PageTitle>XWN</PageTitle>

<div class="container-fluid">
    <h1>XWN</h1>
    <div class="row">
        <h2>Tools</h2>
        <ul>
            <a href="xwn/generators">
                Generators
            </a>
        </ul>
        <ul>
            <a href="xwn/CombatBuilder">
                Combat Builder
            </a>
        </ul>
    </div>
</div>

@code {

}