@page "/XWN"
<PageTitle>XWN</PageTitle>

<div class="container-fluid">
    <h1>XWN</h1>
    <div class="row">
        <h2>Tools</h2>
        <ul>
            <li>
                
                <NavLink href="xwn/generators">
                    Generators
                </NavLink>
            </li>
            <li>
                <NavLink href="xwn/CombatBuilder">
                    Combat Builder
                </NavLink>
            </li>
            <li>
                <NavLink href="xwn/SWN">
                    SWN
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {

}