@page "/XWN"
@using TableHelper.Components
@using TableHelper.Components.XWN
@using TableHelper.Components.XWN.SavedNpcs
@using TableHelper.Models
@using TableHelper.Models.Npc
@using TableHelper.Services
@inject XwnNpcApiService XwnNpcApiService

<PageTitle>XWN</PageTitle>

<div class="container-fluid">
    <h1>XWN</h1>
    <div class="row">
        <h2>Tools</h2>
        <ul>
            <li>
                
                <NavLink href="xwn/generators">
                    Generators
                </NavLink>
            </li>
            <li>
                <NavLink href="xwn/CombatBuilder">
                    Combat Builder
                </NavLink>
            </li>
            <li>
                <NavLink href="xwn/SWN">
                    SWN
                </NavLink>
            </li>
        </ul>
    </div>
    <AccordionWrapper Title="Saved NPCs">
        <SpinnerWrapper IsLoading="_isLoading">
            <NpcDisplay Npcs="_savedNpcs"></NpcDisplay>
        </SpinnerWrapper>
    </AccordionWrapper>
    
</div>

@code {
    private bool _isLoading = true;
    private List<SavedNpc> _savedNpcs = [];

    protected override async Task OnInitializedAsync()
    {
        _savedNpcs = await XwnNpcApiService.GetAllSavedNpcs();
        _isLoading = false;
    }
}