@page "/xwn/SWN"
@using TableHelper.Components
@using TableHelper.Components.XWN.AdventureSeedGenerator
@using TableHelper.Components.XWN.PatronGenerator
@using TableHelper.Models
@using TableHelper.Services
@inject TableHelperApiService ApiService

<h3>SWN</h3>
<h4>Sandbox Game Generator</h4>
<div class="container">
    <ReRollableRow OnClickCallback="ReRollAdventureSeed" Title="Adventure Seeds">
        <SpinnerWrapper IsLoading="@_isAdventureSeedsLoading">
            <AdventureSeedGeneratorDisplay Seeds="@_adventureSeeds"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <ReRollableRow OnClickCallback="ReRollPatron" Title="Patron">
        <SpinnerWrapper IsLoading="@_isPatronLoading">
            <PatronGeneratorDisplay Patrons="@_patrons"/>
        </SpinnerWrapper>
    </ReRollableRow>
    <div class="row">
        <p>Some NPCs</p>

    </div>
    <div class="row">
        <p>The location</p>

    </div>
    <div class="row">
        <p>Some events</p>

    </div>
</div>

@code {
    private List<AdventureSeed> _adventureSeeds = [];
    private List<Patron> _patrons = [];
    private bool _isAdventureSeedsLoading = true;
    private bool _isPatronLoading = true;

    private async Task ReRollAdventureSeed(MouseEventArgs e) => await RollAdventureSeed();
    private async Task ReRollPatron(MouseEventArgs e) => await RollPatron();

    protected override async Task OnInitializedAsync()
    {
        await InitData();
    }
    

    private async Task RollAdventureSeed()
    {
        _isAdventureSeedsLoading = true;
        _adventureSeeds = await ApiService.GetGeneratedAdventureSeeds(1);
        _isAdventureSeedsLoading = false;
    }

    private async Task RollPatron()
    {
        _isPatronLoading = true;
        _patrons = await ApiService.GetGeneratedPatrons(1);
        _isPatronLoading = false;
    }

    private async Task InitData()
    {
        await RollAdventureSeed();
        await RollPatron();
    }

}